<?php

const BEFEW_SECRET_TOKEN = '';
const BOT_TOKEN = '';
const GUILD_ID = '';

const PATREON_ROLE_SNOWFLAKE = '';
const EVENT_CHANNEL_SNOWFLAKE = '';

const FR_EMOJI_SNOWFLAKE = '';
const EN_EMOJI_SNOWFLAKE = '';

const DB_DRIVER = 'mysql';
const DB_NAME = '';
const DB_HOST = '';
const DB_USER = '';
const DB_PASSWORD = '';
const DB_PORT = '';

const OAUTH2_CLIENT_ID = '';
const OAUTH2_CLIENT_SECRET = '';
